li {
  list-style-type: none;
  /* border: 1px solid red; */
  width: 90px;
  color: #EAAC8B !important;
}

li>a {
  text-decoration: none;
  color: #EAAC8B !important;
  font-size: 17px;
  font-weight: bolder;
}

li:nth-of-type(1)::after {
  content: '';
  display: block;
  width: 90px;
  /* height: 2px; */
  background-color: #E56B6F;
}

li::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  transition: 1s;
  /* opacity: 0; */

}

li:hover::after {
  width: 90px;
  height: 2px;
  background-color: #E56B6F;
  /* opacity: 1; */

}

.title {
  padding-top: 10px;
  margin-bottom: 40px;
  color: #EAAC8B !important;
}

.closeBtn {
  padding: 5px;
  position: fixed;

}

/* ********************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ****App*** */
.App {
  text-align: center;
  /* min-height: 100vh; */
  /* font-family: 'Slabo 27px', serif; */
  font-family: 'Acme', sans-serif !important;
  font-family: 'Slabo 27px', serif !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap !important;


}

/* ****Header**** */

.header {
  /* border: 1px solid tomato; */
  position: fixed;
  top: 0;
  background-color: #6D597A;
  z-index: 999;
  padding: 20px 0 20px 0;
}
.nameWeb{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  color: transparent;
  letter-spacing: 0.3em;
}
.nameWeb span{
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
  
    animation: loading 1.20s ease-in-out infinite alternate;
}
@keyframes loading {
	to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}
.nameWeb span:nth-child(2){
  animation-delay:0.15s;
}
.nameWeb span:nth-child(3){
  animation-delay:0.30s;
}
.nameWeb span:nth-child(4){
  animation-delay:0.45s;
}
.nameWeb span:nth-child(5){
  animation-delay:0.60s;
}
.nameWeb span:nth-child(6){
  animation-delay:0.75s;
}
.nameWeb span:nth-child(7){
  animation-delay:0.90s;
}
.nameWeb span:nth-child(8){
  animation-delay:1.05s;
}
.nameWeb span:nth-child(9){
  animation-delay:1.20s;
}
.nameWeb span:nth-child(10){
  animation-delay:1.35s;
}
.nameWeb span:nth-child(11){
  animation-delay:1.50s;
}
.nameWeb span:nth-child(12){
  animation-delay:1.65s;
}
.nameWeb span:nth-child(13){
  animation-delay:1.80s;
}
.nameWeb span:nth-child(14){
  animation-delay:1.95s;
}
.nameWeb span:nth-child(15){
  animation-delay:1.110s;
}
/* ***Components Style**** */
.components {
  width: 100%;
}

.contentBox {
  min-height: 100vh;
  top: 100px !important;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.listMobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 20000;
  background-color: #ffffff;
  padding-top: 10px;


}

.realState {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #EAAC8B;
  padding-top: 50px;

  /* border-top: 2px solid black; */
}

.box {
  background-color: #6D597A;
  /* border: 1px solid rgba(0, 0, 0, 0.649); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* min-width: 200px !important; */
  transition: 1s;
  color: #ffffff !important;
}

.box:hover {
  box-shadow: 0 45px 65px #372146;
  border-radius: 10px;

}

.figCaption {
  /* border: 1px solid red; */
  margin-top: -5px;
  width: 200px;
  height: 30px;
}

.box>figure {
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.box>figure>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ***portraits*** */


.portraits {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px !important;
  background-color: white !important;
}

.portraits>.portraitBox {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: 5px solid #B56576;
  background-color: #EAAC8B;
  border-radius: 3px;
  padding: 10px 20px 0 20px !important;
  color: rgb(13, 21, 30);
}

/* ******fineArt***** */

.parentModal {
  padding-top: 50px !important;
  margin-top: 40px;
  transition: 1s !important;
  /* background-color: #E56B6F; */
}

.headModal {
  background-color: #6D597A;
  color: #EAAC8B;
}

.fineArts {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  background: rgb(53, 80, 112);
  background: linear-gradient(90deg, rgba(53, 80, 112, 1) 0%, rgba(181, 101, 118, 1) 35%, rgba(234, 172, 139, 1) 100%);
  margin-top: 70px;
}

.picBox {
  width: 250px;
  height: 250px;
  /* border-radius: 15px; */
  animation: animeBox linear infinite 5s !important;
  /* border: 5px solid red; */
  overflow: hidden;
  box-shadow: #372146 0px 20px 30px -15px !important;


}

.picBox>figure {
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 15px;
  overflow: hidden;
  animation: animeBox linear infinite 5s !important;
}

.picBox>figure>img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;

}

@keyframes animeBox {
  0% {
    border-radius: 10px 20px 30px 40px / 40px 50px 60px 50px;
  }

  25% {
    border-radius: 70px 50px 100px 20px / 35px 10px 30px 90px;
  }

  50% {
    border-radius: 20px 20px 30px 15px / 25px 12px 16px 40px;
  }

  75% {
    border-radius: 12px 15px 32px 0px / 35px 25px 15px 85px;
  }

  100% {
    border-radius: 95px 1px 22px 32px / 12px 35px 25px 100px;
  }
}

.closeGallery {
  padding: 5px;
  background-color: rgb(118, 117, 117);
}

.galleryBox {
  width: 300px !important;
  height: 300px !important;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px !important;

}

.borderImage {
  /* width: 300px;
  height: 300px; */
  overflow: hidden;
}

.borderImage>img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* ****about*** */
.about {
  background-color: #B56576;
  padding: 50px;
  padding-top: 75px;
}

.about>.title {
  font-weight: bolder;
}

.about>.title>h2,
h3 {
  text-shadow: 2px 2px 10px #6D597A;
  color: #f7f8fa !important;
}

.text {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
  color: #ffffff !important;
}

.text>p {
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  word-wrap: normal;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
  /* border: 1px solid red; */
  max-width: fit-content;
  color: #fafafb !important;
}

.contactMe>p {
  color: #DDE6ED;
}

.gallery {
  width: 500px !important;
  height: 500px !important;
}

/* ****contact*** */
#contact {
  background-color: white;
}

.cotactMe {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px 8px #B56576;
  color: #E56B6F;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */


}

.cotactMe>p {
  display: flex;
  justify-content: start;
  /* border: 1px solid red; */
  padding-left: 130px;
}

.titleContact {
  color: #B56576;
}

#contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px 0 10px 0; */
  background: rgb(53, 80, 112);
  background: linear-gradient(90deg, rgba(53, 80, 112, 1) 0%, rgba(181, 101, 118, 1) 35%, rgba(234, 172, 139, 1) 100%);
  border-radius: 10px;
  border: 3px solid black;

}

.formTitle {
  color: #EAAC8B;
  font-size: 20px;
  padding-top: 10px;
}

.errorContact {
  color: #E56B6F !important;
  font-size: 20px;
}

label {
  color: #EAAC8B;
}

.sendBtn {
  width: 100px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: #6D597A 0px 1px 0px, #6D597A 0px 0px 8px;
  background-color: #B56576;
  color: #E56B6F(250, 253, 254);
  transition: 1s;
  margin-bottom: 10px;
}

.sendBtn:hover {
  box-shadow: #B56576 0px 1px 0px, #B56576 0px 0px 8px;
  background-color: #6D597A;
  color: #EAAC8B;
}

input {
  padding: 5px;
  border-radius: 3px;
  border: none;
}

input::placeholder {
  color: #EAAC8B;
  padding-left: 5px;
}

.alertBox {
  margin-top: -20px;
  margin-left: 0px;
}

.successAlert,
.errorAlert {
  margin-bottom: 10px !important;
  width: 300px;
  height: 40px;
  transition: 1s;
  border-radius: 5px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
}

.successAlert {
  border: 1px solid rgb(1, 88, 79) !important;
  background-color: rgba(1, 88, 79, 0.348);
  color: rgb(1, 54, 49);
}

.errorAlert {
  border: 1px solid rgb(70, 1, 1) !important;
  background-color: rgba(70, 1, 1, 0.628);
  color: rgb(234, 210, 211);

}

.errorAlert>p,
.successAlert>p {
  position: absolute;
  top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:  1px solid red; */

}